* {
	font-family: sans-serif;
}

#center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

#startBtn {
	width: 150px;
	height: 75px;
	border: 3px solid black;
	color: white;
	background-color: rgb(7, 116, 211);
	text-align: center;
	line-height: 75px;
	font-size: 24px;
	border-radius: 10px;
}

#countDown {
	font-weight: 800;
	font-size: 128px;
	color: black;
}

#score {
	font-weight: 800;
	font-size: 64px;
	color: black;
}

.circle {
	border-radius: 1000px;
	position: fixed;
	z-index: 1000;
}

#timer {
	font-size: 36px;
	position: fixed;
	top: 0;
	right: 20px;
}

#score-board {
	height: fit-content;
	width: 250px;
	background-color: rgb(76, 78, 245);
	font-size: 24px;
	z-index: 10000;
	border-radius: 14px;
	text-align: center;
	padding: 14px;
}

.sb-stats {
	font-size: inherit;
	color: white;
}

button {
	background: transparent;
	color: #fff;
	border: 3px solid #fff;
	border-radius: 50px;
	padding: 0.8rem 2rem;
	font: 24px 'Margarine', sans-serif;
	outline: none;
	cursor: pointer;
	position: relative;
	transition: 0.2s ease-in-out;
	letter-spacing: 2px;
}

.button-parrot .parrot {
	position: absolute;
	width: 60px;
	text-align: center;
	animation: blink 0.8s infinite;
	color: transparent;
}
.button-parrot .parrot:before {
	content: 'Click Me!';
}
.button-parrot .parrot:nth-child(1) {
	top: -30px;
	left: -40px;
	font: 12px/1 'Margarine', sans-serif;
	transform: rotate(-20deg);
	animation-duration: 0.5s;
}
.button-parrot .parrot:nth-child(2) {
	font: 12px/1 'Margarine', sans-serif;
	right: -40px;
	top: -20px;
	transform: rotate(15deg);
	animation-duration: 0.3s;
}
.button-parrot .parrot:nth-child(3) {
	font: 16px/1 'Margarine', sans-serif;
	top: -60px;
	left: 15px;
	transform: rotate(10deg);
	animation-duration: 1s;
}
.button-parrot .parrot:nth-child(4) {
	font: 18px/1 'Margarine', sans-serif;
	top: -70px;
	left: 95px;
	transform: rotate(2deg);
	animation-duration: 0.7s;
}
.button-parrot .parrot:nth-child(5) {
	font: 14px/1 'Margarine', sans-serif;
	top: 80px;
	left: 105px;
	transform: rotate(-20deg);
	animation-duration: 0.8s;
}
.button-parrot .parrot:nth-child(6) {
	font: 12px/1 'Margarine', sans-serif;
	top: 80px;
	left: 5px;
	transform: rotate(10deg);
	animation-duration: 1.2s;
}
.button-parrot button:hover .parrot:before {
	content: 'Do it!';
	width: 70px;
}
.item {
	margin: 85px 0 50px;
}

@keyframes blink {
	25%,
	75% {
		color: transparent;
	}
	40%,
	60% {
		color: #fff;
	}
}
